snippet if "if" !b 
if(${1:args})
{
	${2:content}
}
endsnippet
snippet ife "if else" !b 
if(${1:args})
{
	${2:content}
}
else
{
	${3:content}
}
endsnippet
snippet logi "log info" !b 
mtech::log::info(${1:content})
endsnippet
