snippet testing "testing by ianr" !b
testing stuff out by ianr
endsnippet
snippet ianr1 "ianr2" !b
testing stuff for ianr3
endsnippet
snippet asdf1 "asdf2" !b
testing stuff for asdf3
endsnippet
